<ul>
    <li class="parent" *ngFor="let dir of directories; let i= index">
        <div><input type="checkbox" [checked]="dir.checked" (click)="checked(i)"    /></div>
        <div (click)="dir.toggle()">{{ dir.name }} <i class="material-icons"></i> </div>
        <div *ngIf="dir.expanded">
            <ul>
                <li class="child" *ngFor="let file of dir.files">{{file}}</li>
            </ul>
            <app-tree-view [directories]="dir.directories"></app-tree-view>
        </div>
    </li>
</ul>


